.pizzas_page{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.pizzas_list {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  // border: 1px solid red;
  max-height: 80vh;
  overflow-y: auto;
}
.Add_new_button {
  width: 80%;
  max-width: 600px;
  background-color: #00000000;
  padding: 10px;
  color: white;
  border-radius: 50px;
  border: 1px solid white;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
  }
}
